@tailwind base;
@tailwind components;
@tailwind utilities;




/*

* {
  outline: 2px red solid;
}

*/




/*  MAIN CSS   */

#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lexend", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: whitesmoke
}


/*  ***************  */
