@tailwind base;
@tailwind components;
@tailwind utilities;




/*

* {
  outline: 2px red solid;
}

*/



/*  MAIN CSS   */

#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family:  'Proza Libre','Cormorant Garamond', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Proza Libre', sans-serif;


}



/*  ***************  */
